# API Keys 
.env
*.key
api_key.txt

# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# Jupyter
.jupyter/

# Hasil evaluasi
retrieval_scores.png

# OS
.DS_Store
Thumbs.db
